@use "../../scss/variables" as *;
@use "../../scss/" as *;

input {
    //border: 0;
    //border: 1px solid #4e4e4e;
    border: 1px solid $main-color;
    background-color: $black;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    border-radius: $border-radius;
    color: $txt-color;
    font-family: $font-family;

    @include mobile {
        font-size: 1.4rem;
    }
}